<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXAppExtensionAttributes</key>
	<dict>
		<key>EXExtensionPointIdentifier</key>
		<string>com.apple.deviceactivityui.report-extension</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>BarlowSemiCondensed-Regular.ttf</string>
		<string>BarlowSemiCondensed-Medium.ttf</string>
		<string>BarlowSemiCondensed-SemiBold.ttf</string>
		<string>BarlowSemiCondensed-Bold.ttf</string>
		<string>BarlowSemiCondensed-ExtraBold.ttf</string>
		<string>BarlowSemiCondensed-Black.ttf</string>
	</array>
</dict>
</plist>
